*{
    margin: 0;
    padding: 0;
}

.relative{
   position: relative;
}

.index{
    z-index: 10;
}

.flex{
    display: flex;
}

.absolute{
    position: absolute;
}

.imgDiv{
    margin-bottom: 20px;
}

.motivation{
    padding: 130px 95px;
}

.sidenavbar{
    background-color: #ffffff;
    box-shadow: 0px 6px 13px 5px rgb(0 0 0 / 12%);
    position: fixed;
    z-index: 2;
    right: 10px;
    top: 150px;
    border-radius: 7px;
}

.countrow{
    width: 100%;
    padding-bottom: 120px;
}

.count{
    font-size: 43px;
    font-weight: 700;
    color: #f36347;
}

.countname{
    font-size: 16px;
    font-weight: 700;
    color: #505050;
}

.arrowimg{
    bottom: 20px;
    right: 30px;
    z-index: 1;
    box-shadow: 0px 6px 13px 5px rgb(0 0 0 / 12%);
    background-color: #ffffff;
    position: fixed;
}

.iconone{
    padding: 6px 5px;
    border-bottom: 1px solid #bebebe;
}

.icontwo{
    padding: 6px 5px;
}

.iconhover:hover{
    background-color: #f3f5fd;
}

.mottext{
    line-height: 1.8;
    font-size: 17px;
    text-align: center;
    color: #8d8d8d;
}

.bold{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.line{
    border-radius: 35px;
    border-top-width: 5px;
    border-top-color: #eaeaea;
    border-top-style: solid;
    max-width: 20px;
    margin: 0px 0px 20px 460px;
}

.lineclient{
    border-radius: 35px;
    border-top-width: 5px;
    border-top-color: #eaeaea;
    border-top-style: solid;
    max-width: 20px;
    margin: 20px 0px 20px 650px;
}

.client{
    font-size: 25px;
    font-weight: 700;
}

.linesally{
    border-radius: 35px;
    border-top-width: 5px;
    border-top-color: #eaeaea;
    border-top-style: solid;
    max-width: 20px;
    margin: 20px 0px;
}

.new{
    font-size: 13px;
    background-color: brown;
    color: rgb(231,231,231);
    padding: 0px 5px;
    border-radius: 10px;
}

.align{
    align-items: center;
    justify-content: center;
}

.logo{
    top: 25px;
    width: 100%!important;
}

.jevNavbar{
    padding: 22px 0px;
    border-style: solid none;
    border-width: 1px;
    border-color: rgb(108,108,108);
}

.navSet1{
    padding: 0px 15px;
}

.navText{
    font-size: 14px;
    color: rgb(231,231,231); 
}

.logoImg{
    width: 95px;
}

.signature{
    margin-top: 30px;
}

.fitnessImg{
    width: 1338px;
}

.text{
    font-size: 30px;
    font-weight: 300!important;
    color: #ffffff;
}

.training{
    top: 65px;
    margin-left: 50px;
}

.offertext{
    font-weight: 700!important;
    color: #ffffff;
    font-size: 48px;
}

.services{
    color: #f36347;
}

.fitness{
    margin-bottom: 440px;
}

.workout{
    width: 650px;
    height: 705.75px;
}

.aboutworkout{
    width: 680px;
    height: 740.75px;
}

.work{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400; 
}

.schedule{
    font-size: 60px;
    color: #f36347;
}

.sectionrows{
    margin: 0px 50px;
    position: absolute;
    top: 240px;
    padding-bottom: 130px;
}

.rowset1{
    width: 410px;
    text-align: center;
    padding: 70px 35px;
}

.rowtext{
    font-size: 16px;
    margin-bottom: 20px;
    color: #505050;
    font-weight: 700;
}

.rowpara{
    line-height: 1.8;
    color: #8d8d8d;
    font-size: 15px;
}

.borders{
    border: 1px solid #efefef;
    background-color: white;
}

.multi{
    box-shadow: 0 15px 25px -7px rgb(0 0 0 / 9%), 0 -12px 10px -10px rgb(0 0 0 / 4%);
}

.mon{
    font-size: 18px;
}

.worktext{
    margin: 250px 0px 0px 160px;
    padding: 20px;
    border: 1px solid #8d8d8d;
}

.rightSide{
    padding: 145px 100px;
}

.listh3{
    color: #505050;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 14px;
    border-left: 3px solid #f36347;
    padding: 2px 0;
    padding-left: 10px;
}

.listp{
    font-size: 16px;
    color: #8d8d8d;
}

.signinbutton{
    float: right;
}

.right{
    width: 650px;
    margin-bottom: 150px;
    box-shadow: 0 15px 25px -7px rgb(0 0 0 / 9%), 0 -12px 10px -10px rgb(0 0 0 / 4%);
}

.signin{
    padding: 12px 29px;
    border-radius: 30px;
    border-color: #efefef;
    background-color: white;
    font-size: 12px;
    font-weight: 700;
}

.signinbutton{
    margin-left: 190px; 
}

.functional{
    margin-left: 175px;
}

.weight{
    margin-left: 160px;
}

.Boxing{
    margin-left: 175px;
}

.list{
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
    padding-bottom: 10px; 
}

.left{
    width: 650px;
    padding: 205px 70px;
    box-shadow: 0 15px 25px -7px rgb(0 0 0 / 9%), 0 -12px 10px -10px rgb(0 0 0 / 4%);
}

.abouttext{
    right: 240px;
    border: 1px solid #8d8d8d;
    padding: 20px;
    margin-top: 307px;
}

.about{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400; 
}

.trainer{
    color: #f36347;
    font-size: 60px;
}

.sallybrey{
    color: #505050;
    font-size: 30px;
    font-weight: 600;
}

.mapright{
    margin:180px 60px;
}

.mapp{
    color: #8d8d8d;
    font-size: 16px;
    margin: 0px 0px 30px 0px;
}

.maptext{
    color: #505050;
    font-weight: 700;
    font-size: 30px;
}

.map{
    width: 100%;
    height: 705px;
}

.personal{
    color: #8d8d8d;
}

.margin{
    margin: 130px 0px;
}

.clienttext{
    margin: 5px 0px 2px 50px;
    font-size: 16px;
    text-align: left;
    color: #505050;
    font-weight: 700;
}

.westboxing{
    color: #f36347;
    font-weight: 700;
    font-size: 13px;
    text-align: left;
    margin: 3px 0px 25px 50px;
}

.quotesright{
    font-size: 30px;
    margin-top: 40px;
    color: #eaeaea; 
}

.quotes{
    border-right: 1px solid #eaeaea;
    min-width: 45px;
}

.quotestext{
    color: #8d8d8d;
    font-size: 15px;
    line-height: 1.7;
    padding-left: 15px;
    font-weight: 400;
}

.mapdata{
    margin: 0px 20px 20px 20px;
}

.center{
    margin-left: 90px;
    margin-top: 40px;
    width: 327px;
    text-align: left;
}

.locationh3{
    color: #505050;
    font-weight: 700;
    font-size: 16px;
}

.street{
    color: #8d8d8d;
    font-size: 15px;
    font-weight: 400;
}

.bottomimg{
    height: 400px;
    width: 1340px;
}

.onetext{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer{
    background-color: #262626;
}

.footerbottom{
    font-size: 16px;
    color: #bebebe;
    font-weight: 400;
    padding: 30px 445px;
    background-color: #353535;
}

.themeset{
    padding: 8px 0px 0px 25px;
}

.boldtext:hover{
    color: #b7c2f5;
}

.footerrow{
    padding: 70px 60px;
    width: 100%;
}

.fitnessimage{
    width: 80px;
    padding-bottom: 20px;
}

.footimg{
    border-radius: 38px;
    width: 76px;
}

.setdata{
    padding-left: 20px;
}

.footset1{
    border-bottom: 1px solid #505050;
    padding-bottom: 15px;
    margin-bottom: 15px;

}

.spanset{
    top: 0;
    right: 5px;
    background-color: #f36347;
    border-radius: 10px;
    font-size: 11px;
    color: #ffffff;
    padding: 1px 7px;
    font-weight: 500;
}

.aboutpara{
    line-height: 1.8;
    color: #e3e3e3;
    font-size: 15px;
    font-weight: 400;
}

.contactset{
    margin-bottom: 15px;
    color: #bebebe;
    font-weight: 400;
    font-size: 15px;
}

.setpara{
    color: #bebebe;
    font-weight: 400;
    font-size: 14px;
}

.seth4{
    font-size: 16px;
    font-weight: 500;
    color: #efefef;
}

.seth4:hover{
    color: #f36347;
}

.special{
    font-size: 24px;
    font-weight: 400!important;
}

.signuph3{
    font-size: 48px;
    font-weight: 700;
    margin: 0px 0px 18px 0px;
}

.bottom{
    font-weight: 700;
    padding: 14px 31px;
    font-size: 13px;
    background-color: transparent;
    border: #8d8d8d;
    border-width: 2px;
    border-style: solid;
    margin: 31px 0px;
    border-radius: 30px;
}

.bottomtext{
    width: 1340px;
    top: 80px;
    color: #ffffff;
}

.range{
    color: rgb(255, 255, 255);
    padding-left: 90px;
    margin: 150px;
}

.pointer{
    cursor: pointer;
}

.para{
    font-weight: 300;
    font-size: 14px;
    padding-left: 14px;
    width: 595px;
}

.looking{
    font-weight: 400;
    font-size: 23px;
    padding-left: 10px;
    border-left: 2px solid #f36347;
}

.personaltraining{
    font-weight: 700;
    font-size: 54px;
    padding-left: 12px;
}

.top{
    color: #f36347;
}

.freetrial{
    padding: 20px 50px;
    margin-left: 14px;
    border-radius: 43px;
    background-color: #f36347;
    font-size: 16px;
    border: none;
    font-weight: 500;
    margin-top: 25px;
}

.free{
    padding: 20px 50px;
    border-radius: 43px;
    background-color: transparent;
    font-size: 16px;
    border: 2px solid rgb(255, 255, 255);
    font-weight: 500;
    margin-top: 25px; 
}