*{
    margin: 0;
    padding: 0;
}

.reveal{
    position: relative;
    opacity: 0;
}
  
.reveal.active{
    opacity: 1;
}

.active.fade-bottom{
    animation: fade-bottom 1s ease-in;
}

.active.fade-left{
    animation: fade-left 1s ease-in;
}

.active.fade-right{
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom{
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes fade-right {
0% {
    transform: translateX(100px);
    opacity: 0;
}
100% {
    transform: translateX(0);
    opacity: 1;
}
}
  
.relative{
   position: relative;
}

.index{
    z-index: 10;
}

.flex{
    display: flex;
}

.absolute{
    position: absolute;
}

.imgDiv{
    margin-bottom: 20px;
}

.motivation{
    padding: 130px 95px;
}

.fweight700{
    font-weight: 700;
}

.fsize16{
    font-size: 16px;
}

.fsize30{
    font-size: 30px;
}

.color50{
    color: #505050;
}

.sidenavbar{
    background-color: #ffffff;
    box-shadow: 0px 6px 13px 5px rgb(0 0 0 / 12%);
    position: fixed;
    z-index: 2;
    right: 10px;
    top: 150px;
    border-radius: 7px;
}

.countrow{
    width: 100%;
    padding-bottom: 120px;
}

.count{
    font-size: 43px;
    color: #f36347;
}

.arrowimg{
    bottom: 20px;
    right: 30px;
    z-index: 1;
    box-shadow: 0px 6px 13px 5px rgb(0 0 0 / 12%);
    background-color: #ffffff;
    position: fixed;
}

.iconone{
    padding: 6px 5px;
    border-bottom: 1px solid #bebebe;
}

.icontwo{
    padding: 6px 5px;
}

.iconhover:hover{
    background-color: #f3f5fd;
}

.mottext{
    line-height: 1.8;
    font-size: 17px;
    color: #8d8d8d;
}

.bold{
    margin-bottom: 20px;
}

.line{
    border-radius: 35px;
    border-top-width: 5px;
    border-top-color: #eaeaea;
    border-top-style: solid;
    max-width: 20px;
    margin: 0px 0px 20px 460px;
}

.lineclient{
    border-radius: 35px;
    border-top-width: 5px;
    border-top-color: #eaeaea;
    border-top-style: solid;
    max-width: 20px;
    margin: 20px 0px 20px 650px;
}

.client{
    font-size: 25px;
}

.linesally{
    border-radius: 35px;
    border-top-width: 5px;
    border-top-color: #eaeaea;
    border-top-style: solid;
    max-width: 20px;
    margin: 20px 0px;
}

.widthset{
    width: 1349px;
}

.new{
    margin-left: 6px;
    font-size: 12px;
    background-color: #f36347;
    color: rgb(231,231,231);
    padding: 0px 5px;
    border-radius: 10px;
}

.topspan{
    bottom: 10px;
    right: 3px;
    font-size: 11px;
    background-color: #f36347;
    color: rgb(231,231,231);
    padding: 0px 5px;
    border-radius: 9px;
}

.align{
    align-items: center;
    justify-content: center;
}

.logo{
    top: 25px;
    width: 100%;
}

.jevNavbar{
    padding: 22px 0px;
    border-style: solid none;
    border-width: 1px;
    border-color: rgb(108,108,108);
}

.topnav .icon{
    display: none;
}

@media screen and (max-width:320px){
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        display: block;
    }
}

/* @media screen and (max-width:768px){
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        display: block;
    }
} */

@media screen and(max-width: 600px){
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
    }
}

@media screen and (max-width: 320px){
    .topmedia{
        width: 1233px!important;
    }

    .fitnessImg{
        width: 1233px!important;
        height: 2245px;
    }

    .boxfitnessImg{
        width: 1233px!important;
        height: 660px !important;
    }

    .fitness{
        margin: 0px!important;
    }

    #clock{
        font-size: 125px!important;
    }

    .signinbutton{    
        float: none !important;
        margin-top: 55px !important;
    }

    .sectionrows{
        margin: 0px!important;
        top: 650px!important;
        position: unset !important;
        padding-bottom: 70px!important;
    }

    .jevNavbar{
        border: none !important;
    }

    .medialogo{
        width: 355px!important;
    }

    .list{
        display: block !important;
        border-style: none none solid none !important;
        border-width: 3px !important;
        border-color: #efefef !important;
    }

    .rightSide{
        padding: 190px 200px !important;
    }

    .signinbutton{
        float: none !important;
        margin-left: 0px !important;
    }

    .widthset{
        width: 1233px!important;
    }

    .footerrow{
        padding: 115px 90px !important;
    }

    .contactset{
        font-size: 55px !important;
        margin-bottom: 60px !important;
    }

    #mediaicon{
        font-size: 60px !important;
        margin-right: 69px!important;
        padding-top: 10px!important;
        color: #cccccc!important;
    }

    .onetext{
        font-size: 88px !important;
        margin: 60px 0px !important;
    }

    .aboutpara{
        font-size: 58px !important;
    }

    .signuph3{
        font-size: 94px!important;
        margin: 40px 219px 0px 219px!important;
        width: 788px !important;
    }

    .gift{
        font-size: 94px !important;
    }

    .bottom{
        padding: 55px 123px !important;
        font-size: 45px!important;
        background-color: transparent;
        border: #8d8d8d;
        border-width: 6px!important;
        border-style: solid;
        margin: 50px 0px!important;
        border-radius: 102px!important;
    }

    .mediasetone{
        display: flex !important;
        width: 1233px!important;
        padding: 40px!important;
        border-bottom: 1px solid #8d8d8d !important;
    }

    .looking{
        font-size: 35px !important;
    }

    .listh3{
        font-size: 62px!important;
        border-left: 8px solid #f36347!important;
        margin-bottom: 40px!important;
        padding: 2px 0!important;
        padding-left: 60px!important;
        width: 670px !important;
        margin-top: 70px !important;
    }

    .mapright{
        margin: 180px 135px !important;
    }

    .maptext{
        font-size: 85px!important;
        width: 950px!important;
    }

    .mapp{
        font-size: 55px!important;
        width: 750px!important;
    }

    #locationid{
        font-size: 105px!important;
        margin: 10px 25px 0px 15px!important;
        color: #8d8d8d;
    }

    .locationh3 {
        font-size: 65px!important;
    }

    .street{
        font-size: 52px !important;
        width: 595px!important;
    }

    .special{
        font-size: 60px !important;
    }

    .location{
        margin-left: 75px!important;
    }

    .listp{
        font-size: 65px!important;
        width: 750px!important;
        margin-bottom: 50px !important;
    }

    .mapdata{
        margin: 40px 50px 50px 50px!important;
    }

    .map{
        height: 1550px !important;
        width: 1233px !important;
    }

    .bottomimg{
        width: 1233px !important;
        height: 895px !important;
    }

    .signin{
        padding: 55px 50px!important;
        border-radius: 95px!important;
        border-color: #efefef;
        border-width: 8px!important;
        background-color: white;
        font-size: 45px!important;
        width: 480px!important;
    }

    .abouttext{
        top: 0 !important;
        position: absolute;
        right: 240px!important;
        border: 1px solid #8d8d8d;
        margin-top:  207px !important;
    }

    .aboutworkout{
        width: 1233px!important;
        height: 660px !important;
    }

    .about{
        font-size: 65px !important;
    }

    .trainer{
        font-size: 130px !important;
    }

    .functional{
        margin-left: 0px !important;
    }

    .weight{
        margin-left: 0px !important;
    }

    .center{
        margin: 65px 129px !important;
        width: 880px !important;
    }

    .client{
        font-size: 90px !important;
        color: #505050;
    }

    .quotes{
        padding-right: 55px!important;
        min-width:150px !important;
    }

    .clienttext {
        font-size: 55px !important;
        margin-left: 242px !important;
        margin-bottom: 30px !important;
    }

    #quoteright{
        font-size: 90px !important;
        margin-top: 140px !important;
        color: #eaeaea!important; 
    }

    .quotestext{
        color: #8d8d8d !important;
        font-size: 61px !important;
        line-height: 1.7!important;
        padding-left: 97px!important;
        font-weight: 400!important;
    }

    .westboxing{
        font-size: 45px!important;
        margin-left: 238px!important;
        margin-bottom: 30px!important;
    }

    .Boxing{
        margin-left: 0px !important;
    }

    .right{
        width: 0px !important;
        box-shadow: 0 15px 25px -7px rgb(0 0 0 / 9%), 0 -12px 10px -10px rgb(0 0 0 / 4%) !important;
    }

    .count{
        font-size: 180px !important;
    }

    .countname{
        font-size: 65px !important;
        margin-bottom: 190px !important;
    }

    .mediadisplay{
        display: block;
    }

    .left{
        width: 1233px !important;
        box-shadow: 0 15px 25px -7px rgb(0 0 0 / 9%), 0 -12px 10px -10px rgb(0 0 0 / 4%);
        padding: 120px 70px;
    }

    .sally{
        padding-left: 105px !important;
    }

    .sallybrey{
        font-size: 108px !important;
    }

    .personal{
        font-size: 83px !important;
    }

    .mediatext{
        padding: 115px !important;
        font-size: 57px !important;
        line-height: 1.8;
        width: 1190px!important;
        margin-bottom: 50px !important;
    }

    .offertext{
        font-size: 125px!important;
        width: 815px!important;
    }

    .text{
        font-size: 80px!important;
    }

    #fitnessid{
        font-size: 65px !important;
        color: #8d8d8d !important;
        padding-right: 15px !important;
    }

    .range{
        margin: 750px 0px!important;
    }

    .personaltraining{
        font-size: 100px!important;
    }

    .para{
        font-size: 20px!important;
    }

    .mottext{
        font-size: 65px!important;
        padding: 20px!important;
    }

    .bold{
        font-size: 70px!important;
    }

    .setdata{
        padding-left: 80px !important;
    }

    .mediabottom{
        width: 400px;
        margin-left: 327px;
        margin-bottom: 55px;
    }

    .themeset{
        font-size: 60px !important;
    }

    .footerbottom{
        display: block;
        padding: 140px 47px !important;
    }

    .fitnessimage{
        width: 300px !important;
        padding-bottom: 55px !important;
    }

    .footset1{
        padding-bottom: 70px !important;
        margin-bottom: 70px !important;
    }

    .setpara{
        font-size: 55px !important;
    }

    .seth4{
        font-size: 55px !important;
    }

    .mediaflex{
        display: block !important;
        position: relative!important;
    }

    .schedule{
        font-size: 158px!important;
    }

    .work{
        font-size: 60px!important;
    }

    .workout{
        width: 1233px!important;
        height: 1000px!important;
    }

    .footimg{
        width: 320px!important;
        border-radius: 170px!important;
    }

    .spanset{
        right: 5px!important;
        top: 11px!important;
        border-radius: 41px!important;
        font-size: 50px!important;
        padding: 2px 24px!important;
    }

    .worktext{
        top: 0!important;
        margin: 333px 0px 0px 160px!important;
        padding: 20px!important;
        border: 1px solid #8d8d8d;
    }

    .rowset1{
        padding: 300px 110px!important;
        width: auto !important;
    }

    .rowtext{
        font-size: 65px!important;
        margin-bottom: 40px!important;
    }

    .rowpara{
        font-size: 58px!important;
    }

    .mon{
        font-size: 48px!important;
    }

    .signature{
        width: 890px!important;
    }
}

/* @media screen and (max-width: 768px){
    .topmedia{
        width: 1700px!important;
    }

    .fitnessImg{
        width: 1700px!important;
        height: 2245px;
    }

    .boxfitnessImg{
        width: 1700px!important;
        height: 660px !important;
    }

    .fitness{
        margin: 0px!important;
    }

    #clock{
        font-size: 125px!important;
    }

    .signinbutton{    
        float: none !important;
        margin-top: 55px !important;
    }

    .sectionrows{
        margin: 0px!important;
        top: 650px!important;
        position: unset !important;
        padding-bottom: 70px!important;
    }

    .jevNavbar{
        border: none !important;
    }

    .medialogo{
        width: 355px!important;
    }

    .list{
        display: block !important;
        border-style: none none solid none !important;
        border-width: 3px !important;
        border-color: #efefef !important;
    }

    .rightSide{
        padding: 190px 200px !important;
    }

    .signinbutton{
        float: none !important;
        margin-left: 0px !important;
    }

    .widthset{
        width: 1700px!important;
    }

    .footerrow{
        padding: 115px 90px !important;
    }

    .contactset{
        font-size: 55px !important;
        margin-bottom: 60px !important;
    }

    #mediaicon{
        font-size: 60px !important;
        margin-right: 69px!important;
        padding-top: 10px!important;
        color: #cccccc!important;
    }

    .onetext{
        font-size: 88px !important;
        margin: 60px 0px !important;
    }

    .aboutpara{
        font-size: 58px !important;
    }

    .signuph3{
        font-size: 94px!important;
        margin: 40px 219px 0px 219px!important;
        width: 788px !important;
    }

    .gift{
        font-size: 94px !important;
    }

    .bottom{
        padding: 55px 123px !important;
        font-size: 45px!important;
        background-color: transparent;
        border: #8d8d8d;
        border-width: 6px!important;
        border-style: solid;
        margin: 50px 0px!important;
        border-radius: 102px!important;
    }

    .mediasetone{
        display: flex !important;
        width: 1700px!important;
        padding: 40px!important;
        border-bottom: 1px solid #8d8d8d !important;
    }

    .looking{
        font-size: 35px !important;
    }

    .listh3{
        font-size: 62px!important;
        border-left: 8px solid #f36347!important;
        margin-bottom: 40px!important;
        padding: 2px 0!important;
        padding-left: 60px!important;
        width: 670px !important;
        margin-top: 70px !important;
    }

    .mapright{
        margin: 180px 135px !important;
    }

    .maptext{
        font-size: 85px!important;
        width: 950px!important;
    }

    .mapp{
        font-size: 55px!important;
        width: 750px!important;
    }

    #locationid{
        font-size: 105px!important;
        margin: 10px 25px 0px 15px!important;
        color: #8d8d8d;
    }

    .locationh3 {
        font-size: 65px!important;
    }

    .street{
        font-size: 52px !important;
        width: 595px!important;
    }

    .special{
        font-size: 60px !important;
    }

    .location{
        margin-left: 75px!important;
    }

    .listp{
        font-size: 65px!important;
        width: 750px!important;
        margin-bottom: 50px !important;
    }

    .mapdata{
        margin: 40px 50px 50px 50px!important;
    }

    .map{
        height: 1550px !important;
        width: 1700px !important;
    }

    .bottomimg{
        width: 1700px !important;
        height: 895px !important;
    }

    .signin{
        padding: 55px 50px!important;
        border-radius: 95px!important;
        border-color: #efefef;
        border-width: 8px!important;
        background-color: white;
        font-size: 45px!important;
        width: 480px!important;
    }

    .abouttext{
        top: 0 !important;
        position: absolute;
        right: 240px!important;
        border: 1px solid #8d8d8d;
        margin-top:  207px !important;
    }

    .aboutworkout{
        width: 1700px!important;
        height: 660px !important;
    }

    .about{
        font-size: 65px !important;
    }

    .trainer{
        font-size: 130px !important;
    }

    .functional{
        margin-left: 0px !important;
    }

    .weight{
        margin-left: 0px !important;
    }

    .center{
        margin: 65px 129px !important;
        width: 880px !important;
    }

    .client{
        font-size: 90px !important;
        color: #505050;
    }

    .quotes{
        padding-right: 55px!important;
        min-width:150px !important;
    }

    .clienttext {
        font-size: 55px !important;
        margin-left: 242px !important;
        margin-bottom: 30px !important;
    }

    #quoteright{
        font-size: 90px !important;
        margin-top: 140px !important;
        color: #eaeaea!important; 
    }

    .quotestext{
        color: #8d8d8d !important;
        font-size: 61px !important;
        line-height: 1.7!important;
        padding-left: 97px!important;
        font-weight: 400!important;
    }

    .westboxing{
        font-size: 45px!important;
        margin-left: 238px!important;
        margin-bottom: 30px!important;
    }

    .Boxing{
        margin-left: 0px !important;
    }

    .right{
        width: 0px !important;
        box-shadow: 0 15px 25px -7px rgb(0 0 0 / 9%), 0 -12px 10px -10px rgb(0 0 0 / 4%) !important;
    }

    .count{
        font-size: 180px !important;
    }

    .countname{
        font-size: 65px !important;
        margin-bottom: 190px !important;
    }

    .mediadisplay{
        display: block;
    }

    .left{
        width: 1700px !important;
        box-shadow: 0 15px 25px -7px rgb(0 0 0 / 9%), 0 -12px 10px -10px rgb(0 0 0 / 4%);
        padding: 120px 70px;
    }

    .sally{
        padding-left: 105px !important;
    }

    .sallybrey{
        font-size: 108px !important;
    }

    .personal{
        font-size: 83px !important;
    }

    .mediatext{
        padding: 115px !important;
        font-size: 57px !important;
        line-height: 1.8;
        width: 1190px!important;
        margin-bottom: 50px !important;
    }

    .offertext{
        font-size: 125px!important;
        width: 815px!important;
    }

    .text{
        font-size: 80px!important;
    }

    #fitnessid{
        font-size: 65px !important;
        color: #8d8d8d !important;
        padding-right: 15px !important;
    }

    .range{
        margin: 750px 0px!important;
    }

    .personaltraining{
        font-size: 100px!important;
    }

    .para{
        font-size: 20px!important;
    }

    .mottext{
        font-size: 65px!important;
        padding: 20px!important;
    }

    .bold{
        font-size: 70px!important;
    }

    .setdata{
        padding-left: 80px !important;
    }

    .mediabottom{
        width: 400px;
        margin-left: 327px;
        margin-bottom: 55px;
    }

    .themeset{
        font-size: 60px !important;
    }

    .footerbottom{
        display: block;
        padding: 140px 47px !important;
    }

    .fitnessimage{
        width: 300px !important;
        padding-bottom: 55px !important;
    }

    .footset1{
        padding-bottom: 70px !important;
        margin-bottom: 70px !important;
    }

    .setpara{
        font-size: 55px !important;
    }

    .seth4{
        font-size: 55px !important;
    }

    .mediaflex{
        display: block !important;
        position: relative!important;
    }

    .schedule{
        font-size: 158px!important;
    }

    .work{
        font-size: 60px!important;
    }

    .workout{
        width: 1700px!important;
        height: 1000px!important;
    }

    .footimg{
        width: 320px!important;
        border-radius: 170px!important;
    }

    .spanset{
        right: 5px!important;
        top: 11px!important;
        border-radius: 41px!important;
        font-size: 50px!important;
        padding: 2px 24px!important;
    }

    .worktext{
        top: 0!important;
        margin: 333px 0px 0px 160px!important;
        padding: 20px!important;
        border: 1px solid #8d8d8d;
    }

    .rowset1{
        padding: 300px 110px!important;
        width: auto !important;
    }

    .rowtext{
        font-size: 65px!important;
        margin-bottom: 40px!important;
    }

    .rowpara{
        font-size: 58px!important;
    }

    .mon{
        font-size: 48px!important;
    }

    .signature{
        width: 890px!important;
    }
} */

.navSet1{
    padding: 0px 15px;
    text-decoration: none;
}

.navSet1:hover{
    text-decoration: none;
}

.navText{
    font-size: 14px;
    color: rgb(231,231,231); 
}

.logoImg{
    width: 95px;
}

.signature{
    margin-top: 30px;
}

.fitnessImg{
    width: 1349px;
}

.boxfitnessImg{
    width: 1349px;
}

.text{
    font-weight: 300;
    color: #ffffff;
}

.training{
    top: 65px;
    margin-left: 50px;
}

.offertext{
    color: #ffffff;
    font-size: 48px;
}

.services{
    color: #f36347;
}

.fitness{
    margin-bottom: 440px;
}

.workout{
    width: 650px;
    height: 706px;
}

.aboutworkout{
    width: 680px;
    height: 741px;
}

.work{
    color: #ffffff;
    font-weight: 400; 
}

.schedule{
    font-size: 60px;
    color: #f36347;
}

.sectionrows{
    margin: 0px 50px;
    top: 240px;
    padding-bottom: 130px;
}

.rowset1{
    width: 410px;
    padding: 70px 35px;
}

.rowtext{
    margin-bottom: 20px;
}

.rowpara{
    line-height: 1.8;
    color: #8d8d8d;
    font-size: 15px;
}

.borders{
    border: 1px solid #efefef;
    background-color: white;
}

.multi{
    box-shadow: 0 15px 25px -7px rgb(0 0 0 / 9%), 0 -12px 10px -10px rgb(0 0 0 / 4%);
}

.mon{
    font-size: 18px;
}

.worktext{
    margin: 250px 0px 0px 160px;
    padding: 20px;
    border: 1px solid #8d8d8d;
}

.rightSide{
    padding: 145px 100px;
}

.listh3{
    font-size: 17px;
    margin-bottom: 14px;
    border-left: 3px solid #f36347;
    padding: 2px 0;
    padding-left: 10px;
}

.listp{
    color: #8d8d8d;
}

.signinbutton{
    float: right;
}

.right{
    width: 650px;
    margin-bottom: 150px;
    box-shadow: 0 15px 25px -7px rgb(0 0 0 / 9%), 0 -12px 10px -10px rgb(0 0 0 / 4%);
}

.signin{
    padding: 12px 29px;
    border-radius: 30px;
    border-color: #efefef;
    background-color: white;
    font-size: 12px;
}

.signinbutton{
    margin-left: 190px; 
}

.functional{
    margin-left: 175px;
}

.weight{
    margin-left: 160px;
}

.Boxing{
    margin-left: 175px;
}

.list{
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
    padding-bottom: 10px; 
}

.left{
    width: 650px;
    padding: 205px 70px;
    box-shadow: 0 15px 25px -7px rgb(0 0 0 / 9%), 0 -12px 10px -10px rgb(0 0 0 / 4%);
}

/* #scroll-container{
    overflow: hidden;
}

#scroll-text{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation: my-animation 5s linear infinite;
}

@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
} */

.abouttext{
    top: 0;
    right: 240px;
    border: 1px solid #8d8d8d;
    padding: 20px;
    margin-top: 307px;
}

.about{
    color: #ffffff;
    font-weight: 400; 
}

.fade-in-text{
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.trainer{
    color: #f36347;
    font-size: 60px;
}

.sallybrey{
    font-weight: 600;
}

.mapright{
    margin:180px 60px;
}

.mapp{
    color: #8d8d8d;
    margin: 0px 0px 30px 0px;
}

.map{
    width: 100%;
    height: 705px;
}

.personal{
    color: #8d8d8d;
}

.margin{
    margin: 130px 0px;
}

.clienttext{
    margin: 5px 0px 2px 50px;
    text-align: left;
}

.westboxing{
    color: #f36347;
    font-size: 13px;
    text-align: left;
    margin: 3px 0px 25px 50px;
}

.quotes{
    border-right: 1px solid #eaeaea;
    min-width: 45px;
}

.quotestext{
    color: #8d8d8d;
    font-size: 15px;
    line-height: 1.7;
    padding-left: 15px;
    font-weight: 400;
}

.mapdata{
    margin: 0px 20px 20px 20px;
}

.center{
    margin-left: 90px;
    margin-top: 40px;
    width: 327px;
    text-align: left;
}

.street{
    color: #8d8d8d;
    font-size: 15px;
    font-weight: 400;
}

.bottomimg{
    height: 400px;
    width: 1340px;
}

.onetext{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 25px;
}

.footer{
    background-color: #262626;
}

.footerbottom{
    color: #bebebe;
    font-weight: 400;
    padding: 30px 445px;
    background-color: #222;
}

.themeset{
    padding: 8px 0px 0px 25px;
}

.boldtext:hover{
    color: #b7c2f5;
}

.footerrow{
    padding: 70px 60px;
    width: 100%;
}

.fitnessimage{
    width: 80px;
    padding-bottom: 20px;
}

.footimg{
    border-radius: 38px;
    width: 76px;
}

.setdata{
    padding-left: 20px;
}

.footset1{
    border-bottom: 1px solid #505050;
    padding-bottom: 15px;
    margin-bottom: 15px;

}

.spanset{
    top: 0;
    right: 5px;
    background-color: #f36347;
    border-radius: 10px;
    font-size: 11px;
    color: #ffffff;
    padding: 1px 7px;
    font-weight: 500;
}

.aboutpara{
    line-height: 1.8;
    color: #e3e3e3;
    font-size: 15px;
    font-weight: 400;
}

.contactset{
    margin-bottom: 15px;
    color: #bebebe;
    font-weight: 400;
    font-size: 15px;
}

.setpara{
    color: #bebebe;
    font-weight: 400;
    font-size: 14px;
}

.seth4{
    font-weight: 500;
    color: #efefef;
}

.seth4:hover{
    color: #f36347;
}

.special{
    font-size: 24px;
    font-weight: 400;
}

.signuph3{
    font-size: 48px;
    margin: 0px 0px 18px 0px;
}

.bottom{
    padding: 14px 31px;
    font-size: 13px;
    background-color: transparent;
    border: #8d8d8d;
    border-width: 2px;
    border-style: solid;
    margin: 31px 0px;
    border-radius: 30px;
}

.bottomtext{
    width: 1340px;
    top: 80px;
    color: #ffffff;
}

.range{
    color: rgb(255, 255, 255);
    padding-left: 90px;
    margin: 150px;
    transform: translate(2%, 0%);
}

.pointer{
    cursor: pointer;
}

.topbutton{
    animation-name: moveInleft;
    animation-duration: 3s;
}

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.para{
    font-weight: 300;
    font-size: 14px;
    padding-left: 14px;
    width: 595px;
    animation-name: moveInleft;
    animation-duration: 3s;
}

.looking{
    font-weight: 400;
    font-size: 23px;
    padding-left: 10px;
    border-left: 2px solid #f36347;
    animation-name: moveInleft;
    animation-duration: 3s;
}

.personaltraining{
    font-size: 54px;
    padding-left: 12px;
    animation-name: moveInleft;
    animation-duration: 3s;
}

.top{
    color: #f36347;
}

.freetrial{
    padding: 20px 35px;
    margin-left: 14px;
    border-radius: 43px;
    background-color: #f36347;
    border: none;
    font-weight: 500;
    margin-top: 25px;
}

.free{
    padding: 18px 35px;
    left: 175px;
    border-radius: 43px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    font-weight: 500;
    margin-top: 25px; 
}